<app-top-menu title="armoury"></app-top-menu>

<main *ngIf="loaded">
  <div id="weapon">{{ getFullWeaponType()}} {{ getWeaponSortIdentifier() }}</div>
  <div id="title">{{ activeConfig.armouryName || activeConfig.weaponName }}</div>
  
  <app-stats [weaponConfig]="activeConfig"></app-stats>
  <br>

  <a (click)="selectConfig(newConfig)" (mouseenter)="setActiveConfig(newConfig)" (contextmenu)="$event.preventDefault()">
    <app-weapon-card [weaponConfig]="newConfig" page="armoury"></app-weapon-card>
  </a>
  <ng-container *ngFor="let weaponConfig of armouryConfigs | keyvalue">
    <a (click)="selectConfig(weaponConfig.value)" (mouseenter)="setActiveConfig(weaponConfig.value)" (contextmenu)="showContextMenu($event)">
      <app-weapon-card [weaponConfig]="weaponConfig.value" page="armoury"></app-weapon-card>
    </a>
  </ng-container>


  <app-contextmenu [options]="contextMenuOptions" (optionSelected)="contextMenuAction($event)"></app-contextmenu>

  <app-nameform [weaponConfig]="nameFormConfig" [active]="nameFormActive" (submitForm)="renameConfig($event)"></app-nameform>
</main>

<app-footer></app-footer>