<app-top-menu title="configurations"></app-top-menu>

<main>
  <div class="scrollBox">
    <div>
      <div class="card" *ngFor="let weaponConfig of configurations">
        <!-- WeaponCard Button -->
        <a [id]="'weapon-slot' + weaponConfig.comparisonSlot" (mouseenter)="showGunsmithButton(weaponConfig.comparisonSlot); soundService.hover(); setActiveConfig(weaponConfig)" (contextmenu)="showContextMenu($event, weaponConfig)" (click)="soundService.select()" [routerLink]="'/' + weaponConfig.comparisonSlot + '/weapon-select/' + globalService.nameToLink(weaponConfig.weaponType)">
          <app-weapon-card [weaponConfig]="weaponConfig" page="configurations"></app-weapon-card>
        </a>
        <!-- Gusmith Button -->
        <a [id]="'gunsmith-slot' + weaponConfig.comparisonSlot" class="small hidden" (mouseenter)="soundService.hover()" (click)="soundService.select()" [routerLink]="'/' + weaponConfig.comparisonSlot + '/gunsmith'">
          Gunsmith
          <br>
          <img src="/assets/images/gunsmith.png" alt="gunsmith">
        </a>
      </div>
      <!-- New Config -->
      <a class="card new" (mouseenter)="showGunsmithButton(); soundService.hover()" (click)="soundService.select()" [routerLink]="'/' + nextSlot + '/weapon-select'">
        +
      </a>
    </div>
  </div>

  <!-- Stats Components -->
  <div class="inlineContainer">
    <div>
      <input type="checkbox" [(ngModel)]="enableGraph">Show experimental DPS graph
    </div>
    <app-damage-graph class="block" *ngIf="configurations && configurations.length > 0 && enableGraph" [weaponConfigs]="configurations"></app-damage-graph>
    <app-summary [weaponConfig]="activeConfig"></app-summary>
    <app-base-data [weaponConfig]="activeConfig"></app-base-data>
  </div>
  
  <!-- Context Menu Overlay -->
  <div id="contextMenuOverlay" class="overlay hidden" (click)="closeContextMenu()" (contextmenu)="$event.preventDefault(); closeContextMenu()"></div>
  
  <!-- Right click ContextMenu -->
  <div id="contextMenu" class="small hidden">
    <div>{{getActiveConfigName()}}</div>
    <a (click)="deleteConfig()">Delete</a>
  </div>
</main>
 