<title>Attachment Select</title>

<app-top-menu [title]="attachmentSlot"></app-top-menu>

<main>
  <div class="scrollBox" id="attachments">
    <div>
      <a *ngFor="let attachment of attachments" (click)="selectAttachment(attachment.attachment); soundService.select()" (mouseenter)="setHoveredAttachment(attachment); soundService.hover()">
        {{attachment.attachment}}
        <div *ngIf="isSelectedAttachment(attachment)" class="circle filled small right"></div>
      </a>
    </div>
  </div>

  <div class="stats">
    <div id="title" *ngIf="hoveredAttachment">
      {{hoveredAttachment.attachment}}
    </div>

    <strong>Proclaimer: </strong>Attachments might have other non-quantifiable pros and cons like "Sound Suppression" or "Scope Glint".  They are not listed here, and neither is aiming stability

    <div class="equipped">
      <ng-container *ngIf="isSelectedAttachment(hoveredAttachment)">
        <div class="circle filled"></div>
        <div id="title">Equipped</div>
      </ng-container>
    </div>

    <!-- PROS -->
    <div id="pros">
      PROS
      <ng-container *ngFor="let effect of hoveredAttachmentEffects">
        <div *ngIf="effect.isPositive()"  class="stat">
          {{effect.key}}
          <div>{{(effect.value)}}</div>
        </div>
      </ng-container>
    </div>
    
    <!-- CONS -->
    <div id="cons">
      CONS
      <ng-container *ngFor="let effect of hoveredAttachmentEffects">
        <div *ngIf="effect.isNegative()"  class="stat">
          {{effect.key}}
          <div>{{effect.value}}</div>
        </div>
      </ng-container>
    </div>
    <!-- <div class="meter"></div> -->
  </div>
</main>

<app-footer></app-footer>