@import "./src/vars.scss";

.stats {
  margin-right: 20px;
  vertical-align: top;

  &.basedata {
    width: 300px;
  }

  // .spaceEvenly {
  //   display: flex;
  //   justify-content: space-evenly;
  // }
  
  .title {
    margin: 10px 0 5px;
    // font-size: 16px;
    color: white;
  }

  .header {
    color: white;
  }

  .stacking {
    display: inline-block;
  }

  // .testRange {
  //   // border: 1px dotted orange;
  //   border-right: 1px solid grey;
  //   height: 10px;
  //   padding-right: 5px;
  //   text-align: end;

  //   &::before {
  //     content: ' '
  //   }
  // }

  .space {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .column { 
    vertical-align: top;
    min-width: 100px;
    // border: 1px dotted orange;
    
    &.summary {
      color: white;
    }
    
    &.attachment {
      //       width: 100px;
      //       max-width: 150px;
      //       text-overflow: ellipsis;
      //       overflow: hidden;
    }
    
    &.range {
      margin-top: 20px;
    }
      
    .cell, > div {
      padding: 5px 10px;
      box-sizing: border-box;
      // height: 33px;

      &:nth-child(2n) {
        background-color: lighten($darkBG, 20%);
      }

      &.loading {
        animation: flash 2s infinite;
      }

      &.negative {//}, &:not(.summary) {
        color: $red;
      }
      
      &.positive {
        color: $green;
      }
    }
  }
}
