<main>
  <div class="scrollBox">
    <div>
      <a *ngFor="let config of configurations" (click)="selectSlot(config)" routerLink="/weapon-select">
        <app-weapon-card [config]="config">
          <a *ngIf="weapon" class="small" [routerLink]="'/gunsmith/' + globalService.nameToLink(weapon.weaponName)">
            Gunsmith
            <br>
            <img src="/assets/images/gunsmith.png">
          </a>
        </app-weapon-card>
      </a>
      
      <a (click)="selectSlot(null)" routerLink="/weapon-select" class="add">
        +
      </a>
    </div>
  </div>
</main>