@import "./src/vars.scss";

a {
  box-sizing: border-box;
  width: 400px; // duplicated value (weapon-select). can do commmon css class in styles
  margin-bottom: 10px;

  &.add {
    text-align: center;
    color: white;
    font-size: 70px;
  }
}

.scrollBox {
  height: auto;
}

#contextMenu {
  position: absolute;
  z-index: 2;
  width: 250px;
  font-size: 14px;
  opacity: 1;
  background-color: $darkGrey;
  

  div {
    border: 1px solid $darkBG;
    background-color: $darkGrey;
    color: $inactiveColour;
    padding: 10px 20px;
  }
  
  a {
    display: block;
    width: unset;
    margin: 0;
    padding-left: 20px;
    
    color: white;
    font-size: unset;
    // opacity: unset;

    &:hover {
      color: $highlightColour;
    }
  }

}