<!-- Header & Weapon Type Select -->
<nav>
  <div id="title">
    primary weapon select
  </div>
  
  <div id="menu">
    <a *ngFor="let weaponType of weaponTypes" [routerLink]="'/weapon-select/' + globalService.nameToLink(weaponType)" routerLinkActive="selected">{{weaponType}}</a>
    <!-- <a *ngFor="let weaponType of weaponTypes" ((mousedown)="setWeaponType(weaponType)" [class.selected]="iSelectedWeaponType(weaponType)">{{weaponType}}</a> -->
  </div>
</nav>

<!-- Weapon Select -->
<main>
  <div class="scrollBox">
    <div>
      <a *ngFor="let weaponName of weaponNamesOfSelectedType" (click)="selectWeapon(weaponName)" routerLink="/configurations">
        <app-weapon-card [config]="{ weaponName: weaponName }"></app-weapon-card>
      </a>
    </div>
    <!-- <img src="/assets/images/grau.png"> -->
  </div>
</main>
