<!-- Header & Weapon Type Select -->
<app-top-menu title="weapon select" [menuItems]="weaponTypes"></app-top-menu>

<!-- Weapon Select -->
<main>
  <div class="scrollBox">
    <div *ngFor="let weaponName of weaponNames" [id]="globalService.nameToLink(weaponName)" (mouseenter)="showArmouryButton(weaponName)">        
      <!-- Weapon Card -->
      <a (click)="selectWeapon(weaponName); soundService.select()" (mouseenter)="soundService.hover()" (focus)="soundService.hover(); showArmouryButton(weaponName)" tabindex="0">
        <app-weapon-card [weaponConfig]="{ weaponName: weaponName, weaponType: weaponType }"></app-weapon-card>
      </a>
      <!-- Collapsed armoury button -->
      <a *ngIf="armourySaves.get(weaponName) > 0" class="armoury" id="armoury-slot-small">
        {{armourySaves.get(weaponName)}}
        <div class="triangle"></div>
        <!-- <div>&#9654;</div> -->
      </a>
      <!-- Expanded armoury button -->
      <a class="armoury gone" id="armoury-slot-expanded" (click)="soundService.select()"(focus)="soundService.hover()" (mouseenter)="soundService.hover()" [routerLink]="'/' + getComparisonSlot() + '/armoury/' + globalService.nameToLink(weaponName)">
        <div class="title">Armoury</div>
        <img src="/assets/images/armoury.png" alt="Armoury button">
        <br>
        {{armourySaves.get(weaponName)}}
      </a>
    </div>
    <!-- <img src="/assets/images/grau.png"> -->
  </div>
</main>

<app-footer></app-footer>