<div id="messageBox">
  <!--  -->
  <!-- <div id="message">
    <div id="left"></div>
    <div id="right">
      <div id="msg1">Attachment Equipped</div>
      <div id="msg2">Singuard Arms 16.6" SOCOM</div>
    </div>
  </div>
  <div id="message">
    <div id="left"></div>
    <div id="right">
      <div id="msg1">Attachment Equipped</div>
      <div id="msg2">Singuard Arms 16.6" SOCOM</div>
    </div>
  </div> -->
<!--  -->

<div id="message" *ngFor="let message of messageService.messages">
    <div id="left"></div>
    <div id="right">
      <div id="msg1">{{message.msg1}}</div>
      <div id="msg2">{{message.msg2}}</div>
    </div>
  </div>
</div>