<!-- Header & Weapon Type Select -->
<app-top-menu title="weapon select" [menuItems]="weaponTypes"></app-top-menu>

<!-- Weapon Select -->
<main>
  <div class="scrollBox" *ngIf="weaponsLoaded === true">
    <div *ngFor="let weaponName of weaponProfiles | keyvalue" [id]="globalService.nameToSelector(weaponName.key)" (mouseenter)="showArmouryButton(weaponName.key); setActiveWeapon(weaponName.key)">
      <!-- Weapon Card -->
      <a (click)="selectWeapon(weaponName.key)" (mouseenter)="soundService.hover()">
        <app-weapon-card [weaponConfig]="getTempConfig(weaponName.key)" page="weapon-select"></app-weapon-card>
      </a>
      <div class="armouryButtons">
        <!-- Collapsed armoury button -->
        <a *ngIf="armourySaves.get(weaponName.key) > 0" id="armoury-button-collapsed">
          {{armourySaves.get(weaponName.key)}}
          <div class="triangle"></div>
        </a>
        <!-- Expanded armoury button -->
        <a class="gone" id="armoury-button-expanded" (click)="soundService.select()" (focus)="soundService.hover()" (mouseenter)="soundService.hover()" [routerLink]="'/' + getComparisonSlot() + '/armoury/' + globalService.nameToLink(weaponName.key)">
          <div class="title">Armoury</div>
          <img src="/assets/images/armoury.png" alt="Armoury button">
          <br>
          {{armourySaves.get(weaponName.key)}}
        </a>
      </div>
    </div>
      <!-- <img src="/assets/images/grau.png"> -->
  </div>

  <!-- Stats -->
  <div class="inlineContainer" *ngIf="activeWeapon">
    <div class="weaponTitle">{{activeWeapon.weaponName}}</div>
    <app-summary [condensed]="true" [weaponConfig]="activeWeapon"></app-summary>
    <div></div>
    <app-dmg-profile [weaponConfig]="activeWeapon"></app-dmg-profile>
  </div>

    
  <!-- <div style="border: 1px dotted grey; position: fixed; top: 200px; right: 100px; color: white; padding: 20px">
    <div *ngFor="let interval of tempIntervals">
      {{interval.distances}} m
    </div>
    <div *ngIf="!tempIntervals">
      Loading...
    </div>
  </div> -->
</main>

<app-footer></app-footer>