<!-- Header -->
<nav>
  <div id="title">
    {{weaponTitle}} gunsmith
  </div>
</nav>


<main>
    <!--                   -->
    <!-- Upper Attachments -->
    <!--                   -->
    <div class="attachments" id="upperAttachments">
      <a *ngFor="let attachment of upperAttachments" [routerLink]="attachment" [id]="attachment">
        {{attachment}}
        <div *ngIf="weaponConfig.attachments[attachment]" class="circle filled"></div>
        <div>{{weaponConfig.attachments[attachment]}}</div>
      </a>
    </div>
    
    <!-- Image -->
    <img [src]="'../../../assets/images/weapons/' + weaponTitle + '.png'">  

    <!--           -->
    <!-- Misc Info -->
    <!--           -->
    <div id="miscInfo">
      <div id="save">
        <span>1</span> Save a Custom Mod
      </div>

      <div id="equippedSummary">
        Equipped 3/5:
        <div class="filled circle">
        </div>
        <div class="filled circle"></div>
        <div class="filled circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>

      <!-- Stats -->
      <div class="stats">
        <div id="ads">
          <!-- 291 ms -->
          <div class="meter">
            <div class="filled"></div>
          </div>
          <div class="title">ADS</div>
        </div>
        <div id="range">
    
          <div class="meter">
            <div class="first"></div>
            <div class="second"></div>
            <div class="last"></div>
          </div>
          <div class="title">Drop-Offs</div>
        </div>
        <div id="bullet velocity">
          <!-- 1259 m/s -->
          <div class="meter">
            <div class="filled"></div>
          </div>
          <div class="title">Bullet Velocity</div>
        </div>
        <div id="reload-time">
          <!-- 2.3 s -->
          <div class="meter">
            <div class="filled"></div>
          </div>
          <div class="title">Reload Time</div>
        </div>
      </div>
    </div>
    
    <!--                   -->
    <!-- Lower Attachments -->
    <!--                   -->
    <div class="attachments" id="lowerAttachments">
      <a *ngFor="let attachment of lowerAttachments" [routerLink]="attachment" [id]="attachment">
        {{attachment}}
        <div *ngIf="weaponConfig.attachments[attachment]" class="circle filled"></div>
        <div>{{weaponConfig.attachments[attachment]}}</div>
      </a>
    </div>

</main>