@import "../../../vars.scss";

main {
  & > * { // TODO change layout on ~600px width
    // border: 1px solid red;
  }
  
  // ###  Attachments  ###
  // #####################
  .attachments { // TODO change layout on ~600px width
    // border: 1px solid green;
    white-space: nowrap;
    height: 100px;
    
    &#upperAttachments a:not(:first-child) {
      margin-left: 5%;
    }

    &#lowerAttachments {
      text-align: right;
      margin-top: -110px;
    }
    
    &#lowerAttachments a {
      margin-left: 3%;
    }
    
    // TODO margin-left and width of a's control the widths used. not the best solution
    a {
      text-align: left;
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      width: 16%; 
      min-width: fit-content;
      margin: auto;
      padding: 10px;
      
      $vertDistance: 30px;

      &#muzzle {
        top: $vertDistance * 2;
      }
      &#barrel {
        top: $vertDistance;
      }
      &#optic {
        top: $vertDistance;
      }
      &#stock {
        top: $vertDistance * 2;
      }
      
      // &#underbarrel {
      // }
      &#ammunition {
        top: $vertDistance;
      }
      &#rear-grip {
        top: $vertDistance;
      }
      // &#perk {
      // }
    }
  }

  // ###  IMG  ###
  // #############
  img {
    $width: 70%;
    height: auto;
    min-height: 150px;
    width: $width;
    margin: 0 calc((100% - #{$width}) / 2);
    z-index: -1;
  }

  // ###  Misc Info  ###
  // ###################
  #miscInfo {
    margin: 5px;
    margin-left: 40px;
    margin-top: -80px;
    
    #equippedSummary, #save {
      margin-left: 30px;
      font-size: 21px;
    }
    #save {
      color: white;
      margin-bottom: 50px;
    }
    #equippedSummary {
      color: rgb(52, 91, 120); // TODO var?
      margin-bottom: 5px;
    }
    
    & .circle:first-child {
      margin-left: 15px;
    }

    & .circle { // TODO probably extract this to styles.scss to make it reusable
      display: inline-block;
      $size: 15px;
      width: $size;
      height: $size;
      margin-right: 12px;
      padding: 3px;
      
      vertical-align: middle;
      border: 1px solid $inactiveColour;
      border-radius: 50%;

      &.filled {
        border-color: $active;
        
        &::before {
          content: '';
          vertical-align: top;
          display: inline-block;
          width: 100%;
          height: 100%;
          background-color: $active;
          border-radius: 50%;
        }
      }
    }

    // ###  Stats  ###
    // ###############
    #stats {
      display: inline-block;
      padding: 10px 20px;
      $cut: 20px;
      background: $darkBG;
      clip-path: polygon(0 $cut, $cut 0, 100% 0, 100% calc(100% - #{$cut}), calc(100% - #{$cut}) 100%, 0 100%);

      color: $inactiveColour;
      font-size: 15px;
      line-height: 23px;

      & > div {
        direction: rtl;
      }

      & .title {
        display: inline-block;
        padding-right: 10px;
        text-align: right;
        white-space: nowrap;
      }
      
      & .meter {
        // border: 1px solid blue;
        direction: ltr;
        display: inline-flex;
        height: 5px;
        width: 200px;
        background-color: $meterBG;
        vertical-align: middle;
        
        &:hover {
          &::before {
            content: 'test';
            padding: 0 5px;
            // width: 50px;
            // height: 25px;
            position: absolute;
            // top: 5px;
            z-index: 2;
            background-color: #333;
          }
        }

        & > div {
          height: 100%;
        }

        & .filled {
          width: 150px; // TODO temp
          background-color: $inactiveColour;
        }
        
        & .first {
          width: 100px; // TODO temp
          background-color: $inactiveColour;
        }
        & .second {
          width: 180px; // TODO temp
          background-color: darken($inactiveColour, 20%);
        }
        & .last {
          background-color: darken($inactiveColour, 40%);
        }
      }
    }
  }
}