<!-- Header -->
<nav>
  <div id="title">
    {{weaponTitle}} gunsmith
  </div>
</nav>


<main>
  <div id="attachments">
    <div id="upperAttachments">
      <a id="muzzle">Muzzle</a>
      <a id="barrel">Barrel</a>
      <a id="laser">Laser</a>
      <a id="optic">Optic</a>
      <a id="stock">Stock</a>
    </div>
    
    <img [src]="'../../../assets/images/weapons/' + weaponTitle + '.png'">
    
    <div id="lowerAttachments">
      <a id="underbarrel">Underbarrel</a>
      <!-- <a id="trigger-action">Trigger Action</a> -->
      <a id="ammunition">Ammunition</a>
      <a id="rear-grip">Rear Grip</a>
      <a id="perk">Perk</a>
    </div>
  </div>
  
  <div id="custom-mod"></div>
  
  <div id="equipped">
    Equipped 3/5:
    <div class="filled circle">
    </div>
    <div class="filled circle"></div>
    <div class="filled circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  
  <div id="stats">
    <div id="ads">
      <!-- 291 ms -->
      <div class="meter">
        <div class="filled"></div>
      </div>
      <div class="title">ADS</div>
    </div>
    <div id="range">

      <div class="meter">
        <div class="first"></div>
        <div class="second"></div>
        <div class="last"></div>
      </div>
      <div class="title">Damage Drop-Offs</div>
    </div>
    <div id="bullet velocity">
      <!-- 1259 m/s -->
      <div class="meter">
        <div class="filled"></div>
      </div>
      <div class="title">Bullet Velocity</div>
    </div>
    <div id="reload-time">
      <!-- 2.3 s -->
      <div class="meter">
        <div class="filled"></div>
      </div>
      <div class="title">Reload Time</div>
    </div>
  </div>
</main>