@import "../../../../vars.scss";

main { 
  // ###  Attachments  ###
  // #####################
  .attachments {
    // border: 1px solid green;
    white-space: nowrap;
    height: 100px;
    
    &#upperAttachments a:not(:first-child) {
      margin-left: 5%;
    }

    &#lowerAttachments {
      text-align: right; // TODO this is used to align the buttons, but causes text to get the wrong alignment
      margin-top: -110px;
    }
    
    &#lowerAttachments a {
      margin-left: 3%;
    }   

    // TODO margin-left and width of a's control the widths used. not the best solution
    a, .disabledButton {
      box-sizing: border-box;
      width: 16%;

      .white {
        color: white;
        font-size: 14px;
      }

      .circle {
        float: right;
        $sz: 10px;
        width: $sz;
        height: $sz;
        padding: 2px;
      }
    
      $vertDistance: 30px;
      &#muzzle {
        top: $vertDistance * 2;
      }
      &#barrel {
        top: $vertDistance;
      }
      &#optic {
        top: $vertDistance;
      }
      &#stock {
        top: $vertDistance * 2;
      }
      
      // &#underbarrel {
      // }
      &#ammunition {
        top: $vertDistance;
      }
      &#rear-grip {
        top: $vertDistance;
      }
      // &#perk {
      // }
    }
  }

  // ###  IMG  ###
  // #############
  img {
    $width: 70%;
    height: auto;
    min-height: 150px;
    width: $width;
    margin: 0 calc((100% - #{$width}) / 2);
    z-index: -1;
  }

  // ###  Misc Info  ###
  // ###################
  #miscInfo {
    margin: 5px;
    margin-left: 40px;
    margin-top: -80px;
    
    #equippedSummary, #save {
      margin-left: 30px;
      font-size: 21px;
    }
    #save {
      color: white;
      margin-bottom: 50px;

      > span {
        padding: 0 5px;
        margin-right: 2px;
        border-radius: 15%;
        background-color: white;
        color: rgb(45, 45, 45); // TODO var? (same as body left-hand bg)
      }
    }
    #equippedSummary {
      color: rgb(52, 91, 120); // TODO var?
      margin-bottom: 5px;
    }

    .circle {
      margin-right: 12px;
    }

    .circle:first-child {
      margin-left: 15px;
    }

    .meter {
      .filled {
        width: 150px; // TODO temp
        background-color: $inactiveColour;
      }
      
      .first {
        width: 100px; // TODO temp
        background-color: $inactiveColour;
      }
      .second {
        width: 180px; // TODO temp
        background-color: darken($inactiveColour, 20%);
      }
      .last {
        background-color: darken($inactiveColour, 40%);
      }
    }
  }
}