<title>{{weaponConfig.weaponName}} Gunsmith</title>
<app-top-menu [title]="weaponConfig.weaponName + ' gunsmith'"></app-top-menu>


<app-messages></app-messages>

<main>
  <!-- Upper Attachments -->
  <!----------------------->
    <div class="attachments" id="upperAttachments">
      <ng-container *ngFor="let attachmentSlot of upperAttachments">
        <a *ngIf="!configService.blockedBy(weaponConfig, attachmentSlot) else disabledSlot" [class.hidden]="!attachmentSlot" (mouseenter)="soundService.hover()" (mousedown)="soundService.select()" [routerLink]="attachmentSlot" [id]="attachmentSlot">
          {{attachmentSlot}}
          <div *ngIf="weaponConfig.attachments && weaponConfig.attachments[attachmentSlot]" class="circle filled"></div>
          <div *ngIf="weaponConfig.attachments" class="white">{{weaponConfig.attachments[attachmentSlot]}}</div>
        </a>
        <ng-template #disabledSlot>
          <div class="disabledButton" [id]="attachmentSlot">
            <!-- <img src="/assets/images/blocked.png"> -->
            {{attachmentSlot}}
            <div class="white">Blocked by {{configService.blockedBy(weaponConfig, attachmentSlot)}}</div>
          </div>
        </ng-template>
      </ng-container>
    </div>
    
    <!-- Image -->
    <img [src]="'../../../assets/images/weapons/' + weaponConfig.weaponName + '.png'">

    <!-- Misc Info -->
    <!--------------->
    <div id="miscInfo">
      <div id="save">
        <span>1</span> Save a Custom Mod
      </div>

      <div id="equippedSummary">
        Equipped 3/5:
        <div class="filled circle">
        </div>
        <div class="filled circle"></div>
        <div class="filled circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>

      <!-- Stats -->
      <div class="stats">
        <div id="ads">
          <!-- 291 ms -->
          <div class="meter">
            <div class="filled"></div>
          </div>
          <div class="title">ADS</div>
        </div>
        <div id="range">
    
          <div class="meter">
            <div class="first"></div>
            <div class="second"></div>
            <div class="last"></div>
          </div>
          <div class="title">Drop-Offs</div>
        </div>
        <div id="bullet velocity">
          <!-- 1259 m/s -->
          <div class="meter">
            <div class="filled"></div>
          </div>
          <div class="title">Bullet Velocity</div>
        </div>
        <div id="reload-time">
          <!-- 2.3 s -->
          <div class="meter">
            <div class="filled"></div>
          </div>
          <div class="title">Reload Time</div>
        </div>
      </div>
    </div>
    
    <!-- Lower Attachments -->
    <!----------------------->
    <div class="attachments" id="lowerAttachments">
      <ng-container *ngFor="let attachmentSlot of lowerAttachments">
        <a *ngIf="!configService.blockedBy(weaponConfig, attachmentSlot) else disabledSlot" [class.hidden]="!attachmentSlot" (mouseenter)="soundService.hover()" (click)="soundService.select()" [routerLink]="attachmentSlot" [id]="attachmentSlot">
          {{attachmentSlot}}
          <div *ngIf="weaponConfig.attachments && weaponConfig.attachments[attachmentSlot]" class="circle filled"></div>
          <div *ngIf="weaponConfig.attachments">{{weaponConfig.attachments[attachmentSlot]}}</div>
        </a>
        <ng-template #disabledSlot>
          <div class="disabledButton" [id]="attachmentSlot">
            <!-- <img src="/assets/images/blocked.png"> -->
            {{attachmentSlot}}
            <div class="white">Blocked by {{configService.blockedBy(weaponConfig, attachmentSlot)}}</div>
          </div>
        </ng-template>
      </ng-container>
    </div>

    <!-- <a (click)="blockedBy('muzzle')">Test Me</a> -->
</main>
