<app-top-menu [title]="weaponConfig.weaponName + ' gunsmith'"></app-top-menu>

<app-messages></app-messages>

<main>
  <!-- Upper Attachments -->
  <!----------------------->
  <div class="attachments" id="upperAttachments">
    <ng-container *ngFor="let attachmentSlot of upperAttachments">
      <a *ngIf="!configService.getBlockingAttachment(weaponConfig, attachmentSlot) else disabledSlot" [class.hidden]="!attachmentSlot" (mouseenter)="soundService.hover(); enableQuickAttachmentRemoval(attachmentSlot, $event)" (mouseleave)="disableQuickAttachmentRemoval()" (click)="soundService.select()" [routerLink]="attachmentSlot" [id]="attachmentSlot">
        {{attachmentSlot}}
        <div *ngIf="weaponConfig.attachments && weaponConfig.attachments[attachmentSlot]" class="circle filled"></div>
        <div *ngIf="weaponConfig.attachments" class="white">{{weaponConfig.attachments[attachmentSlot]}}</div>
      </a>
      <ng-template #disabledSlot>
        <div class="disabledButton" [id]="attachmentSlot">
          <!-- <img src="/assets/images/blocked.png" alt="blocked"> -->
          {{attachmentSlot}}
          <div class="white">Blocked by {{configService.getBlockingAttachment(weaponConfig, attachmentSlot)}}</div>
        </div>
      </ng-template>
    </ng-container>
  </div>
  
  <!-- Image -->
  <img [src]="getImageLink()" [alt]="weaponConfig.weaponName">

  <!-- Misc Info -->
  <!--------------->
  <div id="miscInfo">
    <div id="save">
      <span>1</span> Save a Custom Mod
    </div>

    <div id="equippedSummary">
      Equipped {{getNrOfAttachments()}}/5:

      <div *ngFor="let i of weaponConfig.attachments | keyvalue" class="filled circle"></div>
      <div *ngFor="let i of configService.getIterableNrOfEmptyAttachmentSlots(weaponConfig)" class="circle"></div>
    </div>
  </div> 

    <!-- Lower Attachments -->
    <!----------------------->
    <!-- code duplication here. make template? -->
    <div class="attachments" id="lowerAttachments">
      <ng-container *ngFor="let attachmentSlot of lowerAttachments">
        <a *ngIf="!configService.getBlockingAttachment(weaponConfig, attachmentSlot) else disabledSlot" [class.hidden]="!attachmentSlot" (mouseenter)="soundService.hover(); enableQuickAttachmentRemoval(attachmentSlot, $event)" (mouseleave)="disableQuickAttachmentRemoval()" (click)="soundService.select()" [routerLink]="attachmentSlot" [id]="attachmentSlot">
          {{attachmentSlot}}
          <div *ngIf="weaponConfig.attachments && weaponConfig.attachments[attachmentSlot]" class="circle filled"></div>
          <div *ngIf="weaponConfig.attachments" class="white">{{weaponConfig.attachments[attachmentSlot]}}</div>
        </a>
        <ng-template #disabledSlot>
          <div class="disabledButton" [id]="attachmentSlot">
            <!-- <img src="/assets/images/blocked.png" alt="blocked"> -->
            {{attachmentSlot}}
            <div class="white">Blocked by {{configService.getBlockingAttachment(weaponConfig, attachmentSlot)}}</div>
          </div>
        </ng-template>
      </ng-container>
    </div>
    
    <!-- Stats -->
    <!----------->
    <div class="stats">
      
      <!-- <div>
        <div>header 1</div>
        <div>header 2</div>
        <div>header 3</div>
      </div>
      <div>
        <div>data 1_1</div>
        <div>data 1_2</div>
        <div>data 1_3</div>
      </div>
      <div>
        <div>data 2_1</div>
        <div>data 2_2</div>
        <div>data 2_3</div>
      </div> -->

      <table aria-describedby="stats">
        <tr>
          <td></td>
        </tr>
        <tr *ngFor="let stat of statOrder">
          <th>{{stat}}</th>
        </tr>
      </table>

      <!-- Base Weapon Stats -->
      <table aria-describedby="base weapon stats">
        <tr class="summary">
          <th scope="summary title">
            Base weapon stats
          </th>
        </tr>
        <ng-container *ngIf="baseWeaponStats else loadingBaseWeaponStat">
          <tr class="summary" *ngFor="let stat of statOrder">
            <td>
              <ng-container *ngIf="baseWeaponStats.get(stat)">
                {{baseWeaponStats.get(stat).value}}
              </ng-container>
            </td>
          </tr>
        </ng-container>
        <ng-template #loadingBaseWeaponStat>
          <div>
            Loading...
          </div>
        </ng-template>
      </table>

      <!-- Weapon Stat Summary -->
      <table aria-describedby="weapon stat summary" class="summary" *ngIf="attachmentSummary">
        <tr class="summary">
          <th scope="summary title">
            Summary
          </th>
        </tr>
        <ng-container *ngIf="weaponStatSummary else loadingWeaponStatSummary">
          <tr class="summary" *ngFor="let stat of statOrder">
            <td [class.positive]="weaponStatSummary.get(stat).isPositive()" [class.negative]="weaponStatSummary.get(stat).isNegative()">
              <ng-container *ngIf="weaponStatSummary.get(stat)">
                {{weaponStatSummary.get(stat).value}}
              </ng-container>
            </td>
          </tr>
        </ng-container>
        <ng-template #loadingWeaponStatSummary>
          <div>
            Loading...
          </div>
        </ng-template>
      </table>
      
      <!-- Attachment Summaries -->
      <ng-container *ngIf="attachmentSummary else loadingAttachmentSummary">
        <table *ngFor="let attachment of attachmentSummary | keyvalue" aria-describedby="attachment summaries">
          <tr>
            <th [scope]="attachment.key">{{attachment.key}}</th>
          </tr>
          <tr *ngFor="let stat of statOrder"><!-- [class.summary]="isSummary(attachment.key)" -->
            <td [class.positive]="attachment.value.get(stat).isPositive()">{{attachment.value.get(stat).value}}</td>
          </tr>
        </table>
      </ng-container>
      <ng-template #loadingAttachmentSummary>
        Loading...
      </ng-template>

    </div>

<!-- 
      <div id="ads">
        <div class="title">ADS</div>
        <div class="meter">
          <div class="filled"></div>
        </div>
        <div class="text">291 ms</div>
      </div>

      <div id="range">
        <div class="title">Drop-Offs</div>
        <div class="meter">
          <div class="first"></div>
          <div class="second"></div>
          <div class="last"></div>
        </div>
      </div>

      <div id="bullet velocity">
        <div class="title">Bullet Velocity</div>
        <div class="meter">
          <div class="filled"></div>
        </div>
        <div class="text">1259 m/s</div>
      </div>

      <div id="reload-time">
        <div class="title">Reload Time</div>
        <div class="meter">
          <div class="filled"></div>
        </div>
        <div class="text">2.3 s</div>
      </div> -->


  <!-- Deselect popup -->
  <div id="deselect" class="popup gone">
    <div>R</div>
    Deselect
  </div>


  <!-- Armoury name form -->
  <div id="nameFormOverlay" class="overlay tinted gone">
    <form id="nameForm" (ngSubmit)="saveConfig(name.value)">
      <div id="title">enter name</div>
      <input type="text" id="nameInput" [value]="weaponConfig.armouryName || ''" autocomplete="off" spellcheck="false" #name>
      <a (click)="saveConfig(name.value)" class="grey">OK</a>
      <!-- <button class="button grey" type="submit">OK</button> -->
      <a (click)="hideOverlay()" class="grey">Cancel</a>
    </form>
  </div>

</main>

<app-footer></app-footer>
