@import "../../../vars.scss";

#card {
  display: inline-block;
  
  // margin-bottom: 10px;
  padding: 5px 15px;
  box-sizing: border-box;
  width: 100%;
  // height: 95px;
  
  .circle {
    $sz: 6px;
    width: $sz;
    height: $sz;
    margin-left: 5px;
    border: 1px solid $inactiveColour;
    
  }
  .filled {
    border: 1px solid $active;
    background-color: $active;
  }

  .info {
    $sz: 15px;
    color: white;
    font-size: $sz;
    height: $sz + 10px;
    text-transform: none;

    &.small {
      font-size: 12px;
    }
  }
  
  .img {
    text-align: center;
    
    img {
      max-width: 160px;
      max-height: 75px;
      -webkit-user-drag: none;
      -moz-user-drag: none; 

      filter: grayscale(100%) brightness(130%) contrast(80%);
    }
  }

  &.small {
    vertical-align: top;
    margin-left: 7px;
    width: fit-content;
    padding: 15px 20px 20px;
  }
}