@import "./src/vars.scss";

#card {  
  padding: 5px 15px;
  box-sizing: border-box;
  width: $weaponCardWidth;

  .circle {
    $sz: 6px;
    width: $sz;
    height: $sz;
    margin-left: 5px;
    border: 1px solid $inactiveColour;
    
  }
  .filled {
    border: 1px solid $active;
    background-color: $active;
  }

  .info {
    $sz: 15px;
    height: $sz + 10px;
    text-transform: none;
    font-size: $sz;
    color: white;

    &.small {
      font-size: 12px;
    }

    img {
      position: relative;
      top: 2px;
      $size: 15px;
      width: $size;
      height: $size;
    }
  }
  
  .img {
    // border: 1px solid red;
    height: 75px;
    text-align: center;

    img {
      // border: 1px dotted yellow;
      // display: inline-block;
      // vertical-align: middle;
      max-width: 160px;
      max-height: 100%;
      -webkit-user-drag: none;
      -moz-user-drag: none; 

      filter: grayscale(100%) brightness(130%) contrast(80%);
    }
  }

  &.small {
    vertical-align: top;
    margin-left: 7px;
    width: fit-content;
    padding: 15px 20px 20px;
  }
}