@import "./vars.scss";

* {
  font-family: 'Roboto'; // TODO not matching that great
  cursor: url('./assets/images/pointer.png'), pointer;
}

body {
  margin: 0;
  background-image: linear-gradient(to right, rgb(45, 45, 45), rgb(35, 35, 35));
  user-select: none;
  // background-image: url('./assets/images/tempBG.png'); // TODO temp
  // background-size: cover;
}

a, a * {
  text-decoration: none;
  cursor: url('./assets/images/pointer-link.png'), pointer;
}

// ###################
// ###  Scrollbar  ###
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $meterBG;
  opacity: .5;
}
::-webkit-scrollbar-thumb {
  $colour: #f1f1f1bc;
  background-image: linear-gradient($colour, $colour), url('./assets/images/square-pattern.png');
}
::-webkit-scrollbar-thumb:hover {
  $trimSize: 1px;
  background-image:
    linear-gradient(to bottom, $darkBG, $highlightColourTransparent 50%, $darkBG 100%),
    linear-gradient(to right,
      $highlightColour, $highlightColour $trimSize,
      $darkBG $trimSize, $darkBG calc(100% - #{$trimSize}),
      $highlightColour calc(100% - #{$trimSize}), $highlightColour 100%
    ),
    url('./assets/images/square-pattern.png');
  border: $trimSize solid $highlightColour;
  border-left: 0;
  border-right: 0;
}

main {
  margin: 50px $leftPageMargin;

  // Buttons
  a {
    opacity: .4;
    
    text-transform: capitalize;
    color: $highlightColour;
    font-size: 21px;
    background-image:
      linear-gradient($darkColour, $darkColour),
      url('./assets/images/square-pattern.png'),
    ;
    position: relative;
    display: inline-block;
    min-width: fit-content;
    margin: 0;
    padding: 10px;

    
    &:hover {
      $trimHeight: 2px;
      $trimColour: rgb(60, 146, 202); // TODO see if it can be merged
      
      opacity: 1;
      background-image: 
      linear-gradient(to right, $darkBG, transparent 50%, $darkBG 100%),
      linear-gradient(to bottom,
      $trimColour, $trimColour $trimHeight,
      $darkBG $trimHeight, $darkBG calc(100% - 2px),
      $trimColour calc(100% - 2px), $trimColour 100%),
      // linear-gradient(to right, $weaponCardBG, $trimColour 50%, weaponCardBG 100%),
      radial-gradient(ellipse at bottom, $trimColour -25%, $darkBG 120%),
      url('./assets/images/square-pattern.png'),
      ;
    }
  }
  // Scrollbox
  .scrollBox {
    height: 600px;
    padding-left: 15px;
    // width: 430px;
    width: 1000px;
    
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;

    div {
      direction: ltr;
    }
  }

  // ###  Stats  ###
  // ###############
  .stats {
    display: inline-block;
    padding: 10px 20px;
    $cut: 20px;
    background: $darkBG;
    clip-path: polygon(0 $cut, $cut 0, 100% 0, 100% calc(100% - #{$cut}), calc(100% - #{$cut}) 100%, 0 100%);

    color: $inactiveColour;
    font-size: 15px;
    line-height: 23px;

    > div {
      direction: rtl;
    }

    .title {
      display: inline-block;
      padding-right: 10px;
      text-align: right;
      white-space: nowrap;
    }
    
    .meter {
      // border: 1px solid blue;
      direction: ltr;
      display: inline-flex;
      height: 5px;
      width: 200px;
      background-color: $meterBG;
      vertical-align: middle;
      
      &:hover {
        &::before {
          content: 'test';
          padding: 0 5px;
          // width: 50px;
          // height: 25px;
          position: absolute;
          // top: 5px;
          z-index: 2;
          background-color: #333;
        }
      }

      .filled {
        width: 150px; // TODO temp
        background-color: $inactiveColour;
      }
      
      .first {
        width: 100px; // TODO temp
        background-color: $inactiveColour;
      }
      .second {
        width: 180px; // TODO temp
        background-color: darken($inactiveColour, 20%);
      }
      .last {
        background-color: darken($inactiveColour, 40%);
      }
    }
  }
}

.circle {
  display: inline-block;
  $size: 15px;
  width: $size;
  height: $size;
  padding: 3px;
  
  vertical-align: middle;
  border: 1px solid $inactiveColour;
  border-radius: 50%; 

  &.filled {
    background-color: black;
    border-color: $active;
    
    &::before {
      content: '';
      vertical-align: top;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: $active;
      border-radius: 50%;
    }
  }
}

.right {
  float: right;
}

