$darkColour: rgba(0, 0, 0, .8);
$darkBG: rgba(0, 0, 0, .5);
$highlightColour: rgb(120, 215, 253);
$highlightColourTransparent: rgba(120, 215, 253, .5);
$active: rgb(255, 158, 65);
$activeBG: rgba(255, 158, 65, .5);
$inactiveColour: #81898c;
$meterBG: #4448;

$leftPageMargin: 100px;


// $textColour: rgb(120, 215, 253);

// TODO clean up. merge. 