<div class="stats basedata" *ngIf="weaponConfig">
  <ng-container *ngIf="activeDamageInterval else loadingBaseData">
    <div class="title">
      Damage Range: {{getRangeDisplay(sliderValue)}}
      <!-- : {{getDamageRangeInterval(activeDamageInterval)}} -->
    </div>
    <div class="space">
      <input type="range" [class.disabled]="intervalsLoaded === false" [(ngModel)]="sliderValue" id="rangeSlider" value="0" (input)="setDamageInterval(sliderValue)">
      <!-- <ng-template #loadingDmgIntervals>
        <div class="loading">Loading damage intervals...</div>
      </ng-template> -->
    </div>
    <div class="stacking column capitalize">
      <div class="header">Hit box</div>
      <div>Head</div>
      <div>Torso</div>
      <div>Stomach</div>
      <div>Limbs</div>
    </div>
    <div class="stacking column">
      <div class="header">Dmg per bullet</div>
      <div>{{getDamage(hitBoxes.head)}}</div>
      <div>{{getDamage(hitBoxes.torso)}}</div>
      <div>{{getDamage(hitBoxes.stomach)}}</div>
      <div>{{getDamage(hitBoxes.limbs)}}</div>
    </div>
    <div class="stacking column">
      <div class="header">DPS</div>
      <div>{{getDPS(hitBoxes.head)}} DPS</div>
      <div>{{getDPS(hitBoxes.torso)}} DPS</div>
      <div>{{getDPS(hitBoxes.stomach)}} DPS</div>
      <div>{{getDPS(hitBoxes.limbs)}} DPS</div>
    </div>
    <!-- <div class="stacking column">
      <div  *ngFor="let hitBox of hitBoxes | keyvalue">{{getDamagePerMag(hitBox.value)}} damage</div>
    </div> -->

    <br><br>
    
    <div class="title">
      Additional Info
    </div>
    <div class="stacking column">
      <div *ngIf="getLockTime() > 0" title="Also known as 'Open bolt delay' - the time it from pulling to trigger to the weapon firing a shot">Lock time *</div>
      <div>Rate of Fire</div>
    </div>
    <div class="stacking column" title="Also known as 'Open bolt delay'">
      <div *ngIf="getLockTime() > 0" title="Also known as 'Open bolt delay'">{{getLockTime()}} ms</div>
      <div>{{getRateOfFire()}} rpm</div>
    </div>
  </ng-container>
  <!-- Loading base data -->
  <ng-template #loadingBaseData>
    <div class="loading">
      Loading...
    </div>
  </ng-template>
</div>