<ng-container *ngIf="contextMenuService.activeContextMenu">
  <!-- Context Menu Overlay -->
  <div id="contextMenuOverlay" class="overlay" (click)="contextMenuService.closeMenu()" (contextmenu)="$event.preventDefault(); contextMenuService.closeMenu()"></div>
  
  <!-- Right click ContextMenu -->
  <div id="contextMenu" class="small" [style]="'left:' + contextMenuService.activeContextMenu.x + '; top:' + contextMenuService.activeContextMenu.y">
    <div>{{contextMenuService.activeContextMenu.title}}</div>
    <ng-container *ngFor="let option of contextMenuService.activeContextMenu.options | keyvalue">
      <a (click)="selectOption(option.value)">{{option.value}}</a>
    </ng-container>
  </div>
</ng-container>